*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

.center {
  align-items: center;
  text-align: center;
}


body {
    background-color: #add8e6;
  }

.topnav {
 
    overflow: hidden;
  }
  .topnav a {
    float: left;
    margin-top: 25px;
    text-decoration: none;
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
  }

  .topnav:not(:last-child) a:hover,
  .topnav:not(:last-child) a:focus {
    border-bottom: 2px solid red;
  }

  .topnav a.active{
    border-bottom: 2px solid black;
  }
   
.about {
    font-size: large;
    padding-left: 180px;
    padding-right: 180px;
    color: black;
    padding-bottom: 10px;
    text-align: center; 
}
.about-info {
  padding: 3px;
  border: 2px solid black;

}
.title {
    padding-top: 30px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.title3 {
  font-size: 6em;
  font-weight: 500;
  /* letter-spacing: 1px; */
  cursor: pointer;
  color:white;
}

.title3 .span1 {
  color: #031321;
  transition: 0.5s;
}

.span2 {
  transition: 0.5s;
}

.title3:hover {
  color: #031321;
}
.title3:hover span:nth-child(1) {
  margin-right: 10px;
}

.title3:hover span{
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 40px #fff,
               0 0 80px #fff,
               0 0 120px #fff,
               0 0 160px #fff;
}


.game-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid red; 
  border-radius: 16%;
  margin-bottom: 20px; 
}

.bordering {
  color: rgb(24, 180, 185);
  border-left-width: 100px;
  border-left-style: solid;
  border-left-color: transparent;
  /* box-shadow: 0 0 10px 10px rgb(16, 142, 173); */
}

.bordered-image {
  width: 45%;
  height: 420;
  padding-top: 20px;
  border-radius: 12px;
}

.about-game {
  width: 100vh;
  height: auto;
  border: 2px solid black;
  text-align: center;
 margin-left: 484px;
}

.contact-form {
  text-align: center;
}

 
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}
 
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
 
tr:nth-child(even) {
  background-color: #dddddd;
}

.footer {
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
}

.con-footer {
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: red;
  font-style: italic;
  text-align: center;
}

.social {
  width: 5%;
}

.titleHP {
text-align: center;
font-size: 50px;
font-weight: bolder ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-shadow: 2px 2px #FF0000;
}

.contact-form {
  padding-top: 100px;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.input-name, .input-message, .input-email, .btn {
  border-radius: 12px;
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  resize: none;
  background-color: lightgrey;
  }
  
  .contact-form .btn {
    display: inline;
    background: lightgrey;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid transparent;
    width: 220px;
  }
  
  .btn:hover {
    border: 2px solid white;
  }


/* Three columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0px 16px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 10px 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.Mtitle {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.avatar {
width: 80%;
margin-left: auto;
margin-right: auto;
border-radius: 12px;
}

.GE {
text-align: center;
}

.GameLink{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid red;  
  margin-bottom: 8px;
}

.Logo {
  margin-left: 18px;
  margin-top: 5px;
  border: solid 5px #FF0000;
} 




* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}